<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  {{!-- <script src="/javascripts/bootstrap.js"></script> --}}
  <link href="https://fonts.googleapis.com/css?family=Basic|Play" rel="stylesheet">
</head>

<body>
  <div class="main">

    <div class="container">
      {{>home/home-nav}}

      <div class="row">
        <div class="col-md-6 list-parts">
          {{>home/form}}
        </div>


        {{{body}}}
  



      </div>
    </div>

  </div>

  {{>home/footer}}


  